.popup__button-close {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url(../../../images/closeicon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  transition: opacity .3s ease;
  cursor: pointer;
}
.popup__button-close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 550px) {
  .popup__button-close {
    top: -16px;
    right: 0;
    width: 20px;
    height: 20px;
    margin: -16px 0 auto auto;
  }
}