.element__mask-group {
  width: 100%;
  min-height: 282px;
  margin: 0;
  padding: 0;
  display: flex;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  cursor: pointer;
  transition: opacity .3s ease;
}

.element__mask-group:hover {
  opacity: 0.8;
}